:root {
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --fh: 'Open Sans', sans-serif;
    --fb: 'Raleway', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: var(--fb);
    color: var(--Very-Dark-Blue);
}

header {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 5rem 7rem;
    font-family: var(--fh);
}

#logo {
    width: 15rem;
}

.header-right {
    display: flex;
    column-gap: 5vw;
    align-items: center;
    justify-content: space-between;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.main-top img {
    min-width: 33rem;
    max-width: 100%;
}

.main-top {
    padding: 0rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-family: var(--fh);
    color: var(--Very-Dark-Blue);
}

p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    column-gap: 1rem;
    padding-right: 9rem;
    max-width: 58rem;
}

.top-left input {
    height: 100%;
    max-width: 35rem;
    border-radius: .3rem;
    padding: 1rem 0rem .5rem 1rem;
    outline: .5px solid initial;
}

.top-left button {
    color: white;
    max-width: 20rem;
    height: 100%;
    border-radius: .3rem;
    border: none;
    background-color: var(--Bright-Blue);
}

.absolute {
    margin-top: 12rem;
    margin-bottom: -1rem;
    width: 98.7vw;
}
.absolute img {
    max-width: 100%;
}
.middle {
    padding: 0rem 7rem;
    display: grid;
    grid-template-columns: 55% 45%;
    background: url(images/bg-curve-desktop.svg) no-repeat var(--Light-Grayish-Blue);
    column-gap: 5rem;
    padding-bottom: 8rem;
}

.middle-right img {
    min-width: 33rem;
    max-width: 100%;
}

.middle-left>p {
    padding-right: 13rem;
}

.green-line {
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid var(--Moderate-Cyan);
    width: max-content;
    column-gap: 1rem;
}

.green {
    color: var(--Moderate-Cyan);
    margin-bottom: .5rem;
}

.arrow {
    background-color: var(--Moderate-Cyan);
    color: white;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 50%;
    margin-top: -.5rem;
}

.box {
    background-color: white;
    padding: 2rem 3rem;
    max-width: 39rem;
    min-width: 33rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    margin-top: 4rem;
}

.box-bottom {
    display: flex;
    align-items: center;
    align-content: center;
    column-gap: 1rem;
}

.box-bottom img {
    width: 4rem;
    border-radius: 50%;
}
.box-bottom p{
    margin-bottom: 0;
}

.comma {
    font-size: 8rem;
    margin: unset;
    height: 5rem;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 7rem;
    background-color: var(--Desaturated-Blue);
    color: white;
    gap: 25rem;
}
.bottom input{
    width: 100%;
    max-width: 50rem;
    height: 3rem;
    outline: none;
}
.bottom-btn{
    padding: 1rem 5rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--Bright-Blue);
    border: none;
}
footer{
    background-color: var(--Very-Dark-Blue);
    color: white;
    padding: 5rem 7rem;
}
.footer-bottom{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    margin-top: 2rem;
}
.footer-bottom-left>section{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 1rem;
    align-content: center;
}
.footer-bottom-left p{
    margin-bottom: 0;
}
.footer-bottom-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    column-gap: 20vw;
    cursor: pointer;
}
.footer-bottom-middle p:hover{
    color: var(--Desaturated-Blue);
}
.footer-bottom-right img{
    padding-left: 2rem;
}


@media screen and (min-width:1000px) and  (max-width:1200px) {
    h1{
        font-size: 3rem;
    }
}


@media screen and (max-width:1000px) {
    h1 {
        font-size: 2.4rem;
    }
    .grid{
        grid-template-columns: 1fr;
        padding: 5vw;
        column-gap: 0;
        gap: 0;
        row-gap: 3rem;
    }
    header{
        padding: 5vw;
    }
    .main-top{
        text-align: center;
        align-items: center;
    }
    .container{
        margin: 0 auto;
        padding: 0rem;
        justify-items: center;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .top-left button{
        padding: 1rem 5rem;
    }
    .footer-bottom,.footer-bottom-middle{
        grid-template-columns: 1fr;
        margin: 0;
    }
    .footer-bottom{
        row-gap: 3rem;
        margin-top: 2rem;
    }
    .footer-bottom-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        padding: 5vw;
    }
    .middle-left>p {
        padding-right: 0rem;
    }
    #logo {
        width: 10rem;
    }


}